html{
    scroll-behavior:smooth;
}

{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, sans-serif;
}

body{
    background:#0f0f1a;
    color:white;
}

/* Hero */
.hero{
    height:100vh;
    background:radial-gradient(circle at center,#1a1a40,#000);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:3.5rem;
    color:#9d4edd;
    text-shadow:0 0 15px #9d4edd;
    animation: heroZoom 1.5s ease-out forwards;
}

.hero p{
    margin-top:15px;
    color:#ccc;
}

/* Intro */
.intro{
    padding:100px 20px;
    text-align:center;
    color:white;

    background:
        linear-gradient(rgba(10,0,40,0.7), rgba(0,0,0,0.8)),
        url("images/neon-bg.jpg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-blend-mode: overlay;

    border-top:3px solid #9d4edd;
    border-bottom:3px solid #00f7ff;
}

.intro h2{
    font-size:2.5rem;
    color:#00f7ff;
    text-shadow:
        0 0 5px #00f7ff,
        0 0 10px #00f7ff,
        0 0 20px #9d4edd,
        0 0 40px #9d4edd;
}

.intro h2::after{
    content:"";
    display:block;
    width:120px;
    height:3px;
    margin:15px auto;
    background:#00f7ff;
    box-shadow:0 0 15px #00f7ff;
}

.intro p{
    margin-top:20px;
    color:#ccc;
}

/* Gallery */
.gallery{
    padding:60px 20px;
    text-align:center;
}

.grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.item{
    position:relative;
    overflow:hidden;
}

.item img{
    width:100%;
    display:block;
    transition:0.4s;
}

.overlay{
    position:absolute;
    bottom:0;
    width:100%;
    background:rgba(0,0,0,0.7);
    text-align:center;
    padding:15px;
    transform:translateY(100%);
    transition:0.4s;
}

.item:hover img{
    transform:scale(1.1);
}

.item:hover .overlay{
    transform:translateY(0);
}

/* Cards */
.cards{
    padding:60px 20px;
    text-align:center;
}

.card-box{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    padding:30px;
    border:2px solid #9d4edd;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    background:#1a1a40;
    box-shadow:0 0 20px #9d4edd;
    transform:translateY(-8px);
}

/* Footer */
footer{
    background:#000;
    padding:30px;
    text-align:center;
    margin-top:40px;
    color:#aaa;
}

@keyframes glow{
    0%{ text-shadow:0 0 10px #00f7ff; }
    50%{ text-shadow:0 0 30px #9d4edd; }
    100%{ text-shadow:0 0 10px #00f7ff; }
}

.intro h2{
    animation: glow 2s infinite alternate;
}

@keyframes heroZoom {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}